<div class="container">
    <div class="row">
      <div class="col-3">
        <%= render 'public/header' %>
      </div>

      <div class="col-1"></div>

      <div class="col-8">
      <% @posts.each do |post| %>
      <div>
        <%= link_to post_path(post.id) do %>
        <p><%= post.body %> </p>
        <% end %>
      </div>
      
      <% end %>
      </div>
    </div>
</div>