<div class="container frame">
  <div class="row">
    <div class="col-2 col-sm-2 col-md-3">
      <%= render 'public/header' %>
    </div>

    <div class="col-1 hidden-on-mobile"></div>

    <div class="col-8 border posts">
      <%= render 'index', posts: @posts %>
    </div>
  </div>
</div>

<script src="https://unpkg.com/infinite-scroll@5/dist/infinite-scroll.pkgd.min.js"></script>
  <script>
  document.addEventListener('DOMContentLoaded', function () {
    const scrollElem = document.querySelector('.posts') 
    if (!scrollElem) return
  
    if (scrollElem._infScroll) return
  
    scrollElem._infScroll = new InfiniteScroll(scrollElem, {
      path: function () {
        return '/posts?page=' + (this.pageIndex + 1)
      },
      append: '.post-item',
      history: false,
      elementScroll: true,   
      scrollThreshold: 200   
    })
  })
  </script>