<div class="container frame">
  <div class="row">
    <div class="col-2 col-sm-2 col-md-3">
      <%= render 'public/header' %>
    </div>

    <div class="col-1 hidden-on-mobile"></div>

    <div class="col-8 border posts">
      <%= render 'index', posts: @posts %>
      <div class="pagination">
        <%= link_to_next_page @posts, '次へ', rel: 'next', class: 'infinite-next' %>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/infinite-scroll@5/dist/infinite-scroll.pkgd.min.js"></script>
<script>
$(function(){
	$(".posts").infiniteScroll({
		path: ".pagination a",
    append: ".post-item",
    elementScroll: true,   
    scrollThreshold: 200
	});
});
</script>