<div class="container-fluid background-image">
  <div class= "col10 haikei d-flex justify-content-center align-items-center">
  <div class= "d-flex flex-column align-items-center bg-light bg-opacity-50">
  <h1 class="row">Allershareにようこそ</h1>
  <p class= "mt-5 text-center">Allershareは<br>
     「すべての食事に制限を持つ人に『選択の自由』を」<br>
     をモットーに製作されたSNSサービスです。<br>
     食べられないものを諦めてしまうのではなく、<br>
     食べられる『別の選択肢』を探してみませんか。</p>

  <%= link_to "覗いてみる", posts_path %>

  <div class="row">
  <% if user_signed_in? %>
  <% else %>
  <%= link_to "新規登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %>
  <% end %>
  </div>
  </div>
  </div>
</div>