
<div class="card">
  <%= image_tag('haikei.JPG')%>

  <h1>Allershareにようこそ</h1>
  <p>Allershareは<br>
     「すべての食事に制限を持つ人に『選択の自由』を」<br>
     をモットーに製作されたSNSサービスです。<br>
     食べられないものを諦めてしまうのではなく、<br>
     食べられる『別の選択肢』を探してみませんか。</p>

  <li><%= link_to "覗いてみる", posts_path %></li>

  <% if user_signed_in? %>
  <% else %>
  <li><%= link_to "新規登録", new_user_registration_path %>
  <%= link_to "ログイン", new_user_session_path %></li>
  <% end %>
</div>