.alert {
  margin-bottom: 1;
  padding: 0;
}

.nav {
  height: 100vh;
}

.nav_link {
  color:black;
}

.nav_link:hover {
  color:black;
  text-decoration: none;
  background-color:#dcdddd ;
}

.posts {
  height: 100vh;
  overflow-y: scroll;
}

.post {
  color: black;
}

.post:hover {
  color: black;
  text-decoration: none;
  background-color:#dcdddd ;
}

.user {
  color: black ;
}

.user:hover {
  color: black;
}

.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.user_icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.user_icon2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.caution {
  color: red;
}