.alert {
  margin-bottom: 1;
  padding: 0;
}

li {
  list-style: none;
}

.frame {
  height: 80vh;
}

@media (max-width: 768px) {
  .hidden-on-mobile {
    display: none;
  }

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255,1) ;
    z-index: 1;
    left: 0;
    text-align: center;
  }

  .nav_link {
    color:black;
  }  

  .nav_start {
    margin-top: 0;
  }

  .nav_end {
    margin-bottom: 0;
  }

  .posts {
    height: 90vh;
    overflow-y: scroll;
    margin-bottom: 56px;
  }

  .user_posts {
    height: 65vh;
    overflow-y: scroll;
    margin-bottom: 56px;
  }

  .post_show {
    height: 70vh;
    overflow-y: scroll;
  }

  .user_icon2 {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }

  .user_icon3 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
  }

  .user {
    color: black ;
  }
  
  .user_icon {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
  }

  .btn-post {
    margin-top: 20px;
  }

  .search {
    height: 100vh;
  }

  .search_result {
    height: 75vh;
    overflow-y: scroll;
  }

  .unsubscribe {
    border: none;
  }

  .y_n {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .y {
    margin-bottom: 30px;
    width: 100%;
  }

  .n {
    width: 100%;
  }

}

@media (min-width: 769px){
  .nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #dee2e6;
    padding-bottom: 10%;
  }

  .nav_start {
    margin-top: 15%;
  }

  .nav_end {
    margin-bottom: 15%;
  }

  .nav_link {
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    color:black;
  }

  .posts {
    height: 95vh;
    overflow-y: scroll;
  }

  .user_posts {
    height: 70vh;
    overflow-y: scroll;
  }

  .post_show {
    height: 80vh;
    overflow-y: scroll;
  }

  .user {
    color: black ;
  }
  
  .user_icon2 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }

  .user_icon3 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
  }

  .user_icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  }

  .search {
    height: 100vh;
  }

  #method {
    margin-left: 15px;
    margin-right: 15px;
  }

  .search_result {
    height: 80vh;
    overflow-y: scroll;
  }

  .unsubscribe {
    border: #dee2e6;
  }

  .y_n {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .y {
    margin-bottom: 0;
  }

}

.nav_link:hover {
  color:black;
  text-decoration: none;
  background-color:#dcdddd ;
}

.post {
  color: black;
}

.post:hover {
  color: black;
  text-decoration: none;
  background-color:#dcdddd ;
}


.user:hover {
  color: black;
}

.count {
  color: black;
  width: 500%;
}

.count:hover {
  color: black;
  text-decoration: none;
  display: inline-block;
}

.count_wrapper:hover .count:hover {
  border-bottom: none;
  text-decoration: none;
}

.users {
  height: 100vh;
  overflow-y: scroll;
}

.admin_users {
  height: 80vh;
  overflow-y: scroll;
}

.admin_posts {
  height: 68vh;
  overflow-y: scroll;
}

.users_user {
  color: black ;
  width: 100%;
}

.users_user:hover {
  color: black;
  text-decoration: none;
  background-color:#dcdddd ;
}

.edit span {
  display: inline-block;
}

.profile {
  line-break: normal;
  overflow-wrap: anywhere;
}

.post_body {
  line-break: normal;
  overflow-wrap: anywhere;
}

.icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.caution {
  color: red;
}

.search_failure span {
  display: inline-block;
}

.unsub_text span {
  display: inline-block;
}

.favorite_true {
  color: #d9333f;
}

.favorite_false {
  color: #dee2e6;
}

.follow {
  color: #808080;
  text-decoration: none;
}

.follow:hover {
  color: #808080;
  text-decoration-color: #808080;
}
