.alert {
  margin-bottom: 0;
  padding: 0;
  border: none;
    border-collapse: collapse;
}

.background-image {
  background-image: image-url('bokasi.jpg');
  background-size: 200%;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0%;
  overflow-y: hidden;
}

.haikei {
  background-image: image-url('haikei.JPG');
  background-size: cover;
  box-shadow: 0px 0px 2px 1px;
  aspect-ratio: 2048/1365;
  margin: auto;
  width: 70%;
  height: 100vh;
}

@media (max-width: 767px) {
  .background-image-2 {
    background-image: image-url('bokasi.jpg');
    background-size: 350%;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0%;
    overflow-y: hidden;
  }

  .haikei_sessions {
    background-image: image-url('haikei.JPG');
    background-size: 350%;
    box-shadow: 0px 0px 2px 1px;
    aspect-ratio: 2048/1365;
    margin: auto;
    width: 100%;
  }

  .contents {
    background: rgba(252,220,224,0.8);
    height: 100vh;
    padding: 10%;
  }

  .field {
    margin-bottom: 10%;
  }
}

@media (min-width: 768px) {
  .background-image-2 {
    background-image: image-url('bokasi.jpg');
    background-size: 350%;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
  }

  .haikei_sessions {
    background-image: image-url('haikei.JPG');
    background-size: cover;
    box-shadow: 0px 0px 2px 1px;
    aspect-ratio: 2048/1365;
    margin: 0 auto;
    width: 70%;
  }

  .contents {
    background: rgba(252,220,224,0.8);
    padding: 3%;
    width: 50%;
  }

  .field {
    margin-bottom: 8%;
  }
}

.text {
  color: #6c3524 ;
}

.text span {
  display: inline-block;
}

em {
  display: inline-block;
}

.link {
  color:#6c3524;
}

.link:hover {
  color:#6c3524;
}