.alert {
  margin-bottom: 100;
  padding: 0;
}

.background-image {
  background-image: image-url('bokasi.jpg');
  background-size: 200%;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0%;
  overflow-y: hidden;
}

.haikei {
  background-image: image-url('haikei.JPG');
  background-size: cover;
  box-shadow: 0px 0px 2px 1px;
  aspect-ratio: 2048/1365;
  margin: auto;
  width: 70%;
  height: auto;
}

.contents {
  background: rgba(252,220,224,0.8);
}

.text {
  color: #6c3524 ;
}

.text span {
  display: inline-block;
}

.link {
  color:#6c3524;
}

.link:hover {
  color:#6c3524;
}