

<div class="conteiner d-flex flex-column align-items-center">
<h1>全ユーザー一覧</h1>
<div class="col-8 d-flex flex-column align-items-center border users">
<%= render 'admin/users/index', users: @users %>
</div>
</div>
</div>