
<h1>ゆーざーいちらん</h1>

<% @user.each do |user| %>
  <%= link_to user_path(user.id) do %>
    <div>
      <%= image_tag user.profile_image.variant(resize: '50x50') %>
      <h4><%= user.name %> </h4>
    </div>
  <% end %>
<% end %>