<div class=" container mx-auto pt-5">
  <div class="mx-auto mt-5 mb-auto pt-5 pb-4 px-5 text-center unsubscribe">
    <h1 class="mb-5">退会確認</h2>

    <div>
      <h3 class="caution mb-4 unsub_text"><span>本当に</span><span>退会しますか?</span></h2>
      <div>
        <p class="unsub_text"><span>退会する場合は</span><span>『退会する』</span><span>をクリックしてください。</span></p>
      </div>
      <div class="y_n pt-2 mt-4">
        <%= link_to '退会しない', mypage_path, class: "btn btn-outline-primary n" %>
        <%= link_to '退会する', withdraw_path(@user), method: :patch, class: "btn btn-outline-danger y " %>
      </div>
    </div>
  </div>
</div>